# [Aassignment 4 solution Reference](https://www.kaggle.com/kylingu/apply-machine-learning-module-4-assignment)

In [2]:
import pandas as pd
import numpy as np
import os

df_train = pd.read_csv('train.csv', encoding = 'ISO-8859-1', low_memory=False).set_index('ticket_id')
df_address = pd.read_csv('addresses.csv', encoding = 'ISO-8859-1', low_memory=False).set_index('ticket_id')

In [3]:
df_train.head(5).T

ticket_id,22056,27586,22062,22084,22093
agency_name,"Buildings, Safety Engineering & Env Department","Buildings, Safety Engineering & Env Department","Buildings, Safety Engineering & Env Department","Buildings, Safety Engineering & Env Department","Buildings, Safety Engineering & Env Department"
inspector_name,"Sims, Martinzie","Williams, Darrin","Sims, Martinzie","Sims, Martinzie","Sims, Martinzie"
violator_name,"INVESTMENT INC., MIDWEST MORTGAGE","Michigan, Covenant House","SANDERS, DERRON","MOROSI, MIKE","NATHANIEL, NEAL"
violation_street_number,2900,4311,1449,1441,2449
violation_street_name,TYLER,CENTRAL,LONGFELLOW,LONGFELLOW,CHURCHILL
violation_zip_code,NaN,NaN,NaN,NaN,NaN
mailing_address_str_number,3,2959,23658,5,7449
mailing_address_str_name,S. WICKER,Martin Luther King,P.O. BOX,ST. CLAIR,CHURCHILL
city,CHICAGO,Detroit,DETROIT,DETROIT,DETROIT
state,IL,MI,MI,MI,MI
zip_code,60606,48208,48223,48214,48206
non_us_str_code,NaN,NaN,NaN,NaN,NaN
country,USA,USA,USA,USA,USA
ticket_issued_date,2004-03-16 11:40:00,2004-04-23 12:30:00,2004-04-26 13:40:00,2004-04-26 13:30:00,2004-04-26 13:00:00
hearing_date,2005-03-21 10:30:00,2005-05-06 13:30:00,2005-03-29 10:30:00,NaN,2005-03-29 10:30:00
violation_code,9-1-36(a),61-63.0600,9-1-36(a),9-1-36(a),9-1-36(a)
violation_description,Failure of owner to obtain certificate of comp...,Failed To Secure Permit For Lawful Use Of Buil...,Failure of owner to obtain certificate of comp...,Failure of owner to obtain certificate of comp...,Failure of owner to obtain certificate of comp...
disposition,Responsible by Default,Responsible by Determination,Not responsible by Dismissal,Not responsible by City Dismissal,Not responsible by Dismissal
fine_amount,250,750,250,250,250
admin_fee,20,20,0,0,0
state_fee,10,10,0,0,0
late_fee,25,75,0,0,0
discount_amount,0,0,0,0,0
clean_up_cost,0,0,0,0,0
judgment_amount,305,855,0,0,0
payment_amount,0,780,0,0,0
balance_due,305,75,0,0,0
payment_date,NaN,2005-06-02 00:00:00,NaN,NaN,NaN
payment_status,NO PAYMENT APPLIED,PAID IN FULL,NO PAYMENT APPLIED,NO PAYMENT APPLIED,NO PAYMENT APPLIED
collection_status,NaN,NaN,NaN,NaN,NaN
grafitti_status,NaN,NaN,NaN,NaN,NaN
compliance_detail,non-compliant by no payment,compliant by late payment within 1 month,not responsible by disposition,not responsible by disposition,not responsible by disposition
compliance,0,1,NaN,NaN,NaN

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250306 entries, 22056 to 325561
Data columns (total 33 columns):
agency_name                   250306 non-null object
inspector_name                250306 non-null object
violator_name                 250272 non-null object
violation_street_number       250306 non-null float64
violation_street_name         250306 non-null object
violation_zip_code            0 non-null float64
mailing_address_str_number    246704 non-null float64
mailing_address_str_name      250302 non-null object
city                          250306 non-null object
state                         250213 non-null object
zip_code                      250305 non-null object
non_us_str_code               3 non-null object
country                       250306 non-null object
ticket_issued_date            250306 non-null object
hearing_date                  237815 non-null object
violation_code                250306 non-null object
violation_description         250306 non-null object
disposition                   250306 non-null object
fine_amount                   250305 non-null float64
admin_fee                     250306 non-null float64
state_fee                     250306 non-null float64
late_fee                      250306 non-null float64
discount_amount               250306 non-null float64
clean_up_cost                 250306 non-null float64
judgment_amount               250306 non-null float64
payment_amount                250306 non-null float64
balance_due                   250306 non-null float64
payment_date                  41113 non-null object
payment_status                250306 non-null object
collection_status             36897 non-null object
grafitti_status               1 non-null object
compliance_detail             250306 non-null object
compliance                    159880 non-null float64
dtypes: float64(13), object(20)
memory usage: 64.9+ MB

In [5]:
df_train.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
agency_name,250306,5,"Buildings, Safety Engineering & Env Department",157784,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inspector_name,250306,173,"Morris, John",17926,NaN,NaN,NaN,NaN,NaN,NaN,NaN
violator_name,250272,119992,"INVESTMENT, ACORN",809,NaN,NaN,NaN,NaN,NaN,NaN,NaN
violation_street_number,250306,NaN,NaN,NaN,10649.9,31887.3,0,4739,10244,15760,1.41541e+07
violation_street_name,250306,1791,SEVEN MILE,3482,NaN,NaN,NaN,NaN,NaN,NaN,NaN
violation_zip_code,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mailing_address_str_number,246704,NaN,NaN,NaN,9149.79,36020.3,1,544,2456,12927.2,5.11134e+06
mailing_address_str_name,250302,37896,PO BOX,8668,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,250306,5184,DETROIT,136936,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,250213,59,MI,228601,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip_code,250305,4251,48227,11617,NaN,NaN,NaN,NaN,NaN,NaN,NaN
non_us_str_code,3,2,"ONTARIO, Canada",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country,250306,5,USA,250293,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ticket_issued_date,250306,86979,2010-02-17 09:00:00,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hearing_date,237815,6222,2005-12-22 10:30:00,622,NaN,NaN,NaN,NaN,NaN,NaN,NaN
violation_code,250306,235,9-1-36(a),99091,NaN,NaN,NaN,NaN,NaN,NaN,NaN
violation_description,250306,258,Failure of owner to obtain certificate of comp...,99091,NaN,NaN,NaN,NaN,NaN,NaN,NaN
disposition,250306,9,Responsible by Default,138340,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fine_amount,250305,NaN,NaN,NaN,374.423,707.196,0,200,250,250,10000
admin_fee,250306,NaN,NaN,NaN,12.7748,9.60734,0,0,20,20,20
state_fee,250306,NaN,NaN,NaN,6.38738,4.80367,0,0,10,10,10
late_fee,250306,NaN,NaN,NaN,21.4945,56.4643,0,0,10,25,1000
discount_amount,250306,NaN,NaN,NaN,0.125167,3.43018,0,0,0,0,350
clean_up_cost,250306,NaN,NaN,NaN,0,0,0,0,0,0,0
judgment_amount,250306,NaN,NaN,NaN,268.685,626.915,0,0,140,305,11030
payment_amount,250306,NaN,NaN,NaN,48.899,222.422,0,0,0,0,11075
balance_due,250306,NaN,NaN,NaN,222.449,606.394,-7750,0,25,305,11030
payment_date,41113,2307,2014-08-04 00:00:00,177,NaN,NaN,NaN,NaN,NaN,NaN,NaN
payment_status,250306,3,NO PAYMENT APPLIED,209193,NaN,NaN,NaN,NaN,NaN,NaN,NaN
collection_status,36897,1,IN COLLECTION,36897,NaN,NaN,NaN,NaN,NaN,NaN,NaN
grafitti_status,1,1,GRAFFITI TICKET,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
compliance_detail,250306,10,non-compliant by no payment,129267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
compliance,159880,NaN,NaN,NaN,0.0725357,0.259374,0,0,0,0,1

In [6]:
df_address.head(7).T

ticket_id,22056,27586,22062,22084,22093,22046,18738
address,"2900 tyler, Detroit MI","4311 central, Detroit MI","1449 longfellow, Detroit MI","1441 longfellow, Detroit MI","2449 churchill, Detroit MI","6478 northfield, Detroit MI","8027 brentwood, Detroit MI"

In [7]:
df_address.describe().T

          count  unique                        top freq
address  311307  121769  1509 broadway, Detroit MI  203

In [8]:
# Extract city and state from the address DF
city, state= zip(*df_address.address.apply(lambda x: x.split(', ')[1].split(' ')))

city[0:5], state[0:5]

(('Detroit', 'Detroit', 'Detroit', 'Detroit', 'Detroit'),
 ('MI', 'MI', 'MI', 'MI', 'MI'))

In [9]:
# create violation address DF 
violation_address = pd.DataFrame({'vio_city': city, 'vio_state': state}, index=df_address.index)
violation_address.describe(include='all').T

            count unique      top    freq
vio_city   311307      1  Detroit  311307
vio_state  311307      1       MI  311307

In [10]:
# Compliance column values and their percentages
df_train.compliance.value_counts(dropna=False)/len(df_train)

 0.0    0.592407
NaN     0.361262
 1.0    0.046331
Name: compliance, dtype: float64

The compliance field contains too much `NaN`, about $36\%$.  Too much to be dropped.

In [11]:
# Treat NaN value as 0.0 assume that they are compliant
df_train_all = df_train.copy()
df_train = df_train.dropna(subset=['compliance'])

df_train.compliance.value_counts(dropna=False)/len(df_train)

0.0    0.927464
1.0    0.072536
Name: compliance, dtype: float64

__Analyze the `agency_name` for the model__

In [12]:
df_train.groupby('agency_name').groups.keys()

dict_keys(['Buildings, Safety Engineering & Env Department', 'Department of Public Works', 'Detroit Police Department', 'Health Department', 'Neighborhood City Halls'])

In [13]:
df_train.groupby('agency_name').compliance.agg(['count', 'sum', 'mean', 'std']).T
# From mean, Detroit Police Department offers >13% => more people paid

agency_name,"Buildings, Safety Engineering & Env Department",Department of Public Works,Detroit Police Department,Health Department,Neighborhood City Halls
count,95863.000000,52445.000000,4464.000000,7107.000000,1.0
sum,5823.000000,4718.000000,588.000000,468.000000,0.0
mean,0.060743,0.089961,0.131720,0.065851,0.0
std,0.238859,0.286128,0.338224,0.248038,NaN

__Investigate the `violdation_code` and `inspector_name` fields__

In [14]:
df_train.groupby('violation_code').groups.keys()

dict_keys(['19420901', '19450901', '19830901', '19840901', '19850901', '20130901', '20160901', '20180901', '22-2-16', '22-2-17', '22-2-17(a)', '22-2-18', '22-2-20', '22-2-21(a)', '22-2-21(b)', '22-2-22', '22-2-22(a)', '22-2-23', '22-2-38', '22-2-41', '22-2-42', '22-2-43', '22-2-44', '22-2-45', '22-2-49', '22-2-49(a)', '22-2-49(b)', '22-2-49(c)', '22-2-49(d)', '22-2-53', '22-2-55', '22-2-56', '22-2-61', '22-2-83', '22-2-83(a)(b)(c)', '22-2-83(b)', '22-2-83(c)', '22-2-83(d)', '22-2-84 (DO NOT USE ', '22-2-84(a)', '22-2-84(a)(1)(2)(4)', '22-2-84(b)(3)', '22-2-85', '22-2-87', '22-2-87(a)', '22-2-88', '22-2-88(a)', '22-2-88(b)', '22-2-91', '22-2-93', '22-2-94', '22-2-96', '22-2-97(b)', '22-3-2', '61-101.0100/32.0066', '61-104.0100', '61-111.0100/32.0066', '61-114.0100', '61-118.0100/32.0066', '61-120.0100/32.0066', '61-121.0100/32.0066', '61-130.0000/130.0400', '61-130.0000/130.0500', '61-4-32', '61-4-33', '61-4-35', '61-4-37', '61-45.0000/45.0800', '61-47.0000/47.0108', '61-5-18', '61-5-19', '61-5-21', '61-63.0100', '61-63.0500', '61-63.0600', '61-8-127', '61-8-27', '61-8-47', '61-80.0100', '61-81.0100/32.0066', '61-81.0100/45.0807', '61-82.0100/32.0031', '61-82.0100/32.0066', '61-83.0100/32.0031', '61-83.0100/32.0066', '61-84.0100/32.0066', '61-84.0100/45.0807', '61-86.0100/32.0066', '61-86.0100/32.0076B', '61-86.0100/45.0807', '61-90.0100', '9-1-101', '9-1-102', '9-1-103 (a) or (b)', '9-1-103(C)', '9-1-104', '9-1-105', '9-1-106', '9-1-107', '9-1-108', '9-1-109', '9-1-110(a)', '9-1-110(b)', '9-1-111', '9-1-112', '9-1-113', '9-1-12(b)', '9-1-201(a)', '9-1-201(b)', '9-1-202', '9-1-203', '9-1-204', '9-1-205', '9-1-206', '9-1-207', '9-1-208', '9-1-209', '9-1-210', '9-1-211', '9-1-212', '9-1-213', '9-1-214', '9-1-216', '9-1-219', '9-1-220', '9-1-221', '9-1-301', '9-1-303', '9-1-304', '9-1-305', '9-1-306', '9-1-307', '9-1-309', '9-1-310', '9-1-311', '9-1-331', '9-1-332', '9-1-333', '9-1-351', '9-1-352', '9-1-353(2)', '9-1-354', '9-1-355', '9-1-36(a)', '9-1-36(c)', '9-1-36(d)', '9-1-375', '9-1-377', '9-1-405', '9-1-406', '9-1-43(a) - (Dwellin', '9-1-43(a) - (Stories', '9-1-43(a) - (Structu', '9-1-432(a)', '9-1-434', '9-1-439', '9-1-440', '9-1-441', '9-1-441(a)', '9-1-442', '9-1-443(a)', '9-1-443(b)', '9-1-45(b)', '9-1-45(c)', '9-1-46(a)', '9-1-462(a)', '9-1-464', '9-1-465', '9-1-468', '9-1-469', '9-1-474', '9-1-476', '9-1-477', '9-1-478', '9-1-50 (e)', '9-1-50(a)', '9-1-50(b)', '9-1-502', '9-1-503', '9-1-81(a)', '9-1-81(b)', '9-1-81(e)', '9-1-82(b)', '9-1-82(d) - (Buildin', '9-1-82(d) - (Dwellin', '9-1-82(d) - (Structu', '9-1-83 - (Building 5', '9-1-83 - (Dwelling)', '9-1-83 - (Structures'])

In [15]:
# df_train.groupby('violation_code').compliance.agg(['count', 'sum', 'mean', 'std']).sort_values('count', ascending=False)

len(df_train.groupby('violation_code').groups.keys())

189

In [16]:
# df_train.groupby('inspector_name').compliance.agg(['count', 'sum', 'mean', 'std']).sort_values('count', ascending=False)

len(df_train.groupby('inspector_name').groups)

159

These fields are w/ small mean values and too many different values.  They might be useful but less likely.

__Analyze the `disposition` field__

In [17]:
df_train.groupby('disposition').compliance.agg(['count', 'sum', 'mean', 'std']).T

disposition,Responsible (Fine Waived) by Deter,Responsible by Admission,Responsible by Default,Responsible by Determination
count,195.0,13701.000000,138340.000000,7644.000000
sum,195.0,3768.000000,5285.000000,2349.000000
mean,1.0,0.275016,0.038203,0.307300
std,0.0,0.446539,0.191687,0.461405

In [18]:
print("Original disposition values= \n{} \n\nCompliance disposition values= \n{}".format(
    df_train_all.disposition.unique(), df_train.disposition.unique()))

Original disposition values=
['Responsible by Default' 'Responsible by Determination'
 'Not responsible by Dismissal' 'Not responsible by City Dismissal'
 'PENDING JUDGMENT' 'Responsible by Admission'
 'Not responsible by Determination' 'SET-ASIDE (PENDING JUDGMENT)'
 'Responsible (Fine Waived) by Deter']

Compliance disposition values=
['Responsible by Default' 'Responsible by Determination'
 'Responsible by Admission' 'Responsible (Fine Waived) by Deter']

In [19]:
# Consolidate the various disposition values to several classes
disposition_replace = {'Responsible by Default': 'By default',
                       'Responsible by Determination': 'By determination', 
                       'Responsible (Fine Waived) by Deter': 'Fine Waived',
                       'Responsible by Admission': 'By admission',
                       'SET-ASIDE (PENDING JUDGMENT)': 'Pending',
                       'PENDING JUDGMENT': 'Pending',
                       'Not responsible by Dismissal': 'Not responsible',
                       'Not responsible by City Dismissal': 'Not responsible',
                       'Not responsible by Determination': 'Not responsible'
                      }

In [20]:
df_train_all.disposition.replace(disposition_replace, inplace=True)
df_train_all.groupby('disposition').compliance.agg(['count', 'sum', 'mean', 'std']).T

disposition,By admission,By default,By determination,Fine Waived,Not responsible,Pending
count,13701.000000,138340.000000,7644.000000,195.0,0.0,0.0
sum,3768.000000,5285.000000,2349.000000,195.0,NaN,NaN
mean,0.275016,0.038203,0.307300,1.0,NaN,NaN
std,0.446539,0.191687,0.461405,0.0,NaN,NaN

Checking the mean values.  `Fine Waived` reaches 100%.

In [21]:
df_train.disposition.replace(disposition_replace, inplace=True)
df_train.groupby('disposition').compliance.agg(['count', 'sum', 'mean', 'std']).T

disposition  By admission     By default  By determination  Fine Waived
count        13701.000000  138340.000000       7644.000000        195.0
sum           3768.000000    5285.000000       2349.000000        195.0
mean             0.275016       0.038203          0.307300          1.0
std              0.446539       0.191687          0.461405          0.0

Checking the mean value, the `Fine Waived` field reaches 100%.  Suspect that this group has data leakage.

__Analyze the `state` and `country` field__

In [22]:
a = df_train.groupby('state').compliance.agg(['count', 'sum', 'mean', 'std']).sort_values('count', ascending=False)
a['compl_rate'] = a['sum']/a['count']
a['count_rate'] = a['count']/len(df_train)
a

        count      sum      mean       std  compl_rate  count_rate
state
MI     143655  10595.0  0.073753  0.261370    0.073753    0.898518
CA       3828    182.0  0.047544  0.212828    0.047544    0.023943
TX       1952     90.0  0.046107  0.209770    0.046107    0.012209
FL       1680    106.0  0.063095  0.243207    0.063095    0.010508
SC       1066     22.0  0.020638  0.142236    0.020638    0.006668
IL        896    107.0  0.119420  0.324463    0.119420    0.005604
OH        639     79.0  0.123631  0.329418    0.123631    0.003997
NY        535     43.0  0.080374  0.272126    0.080374    0.003346
MN        447     18.0  0.040268  0.196808    0.040268    0.002796
GA        405     20.0  0.049383  0.216934    0.049383    0.002533
NV        399     10.0  0.025063  0.156512    0.025063    0.002496
PA        371     25.0  0.067385  0.251027    0.067385    0.002320
UT        329     23.0  0.069909  0.255382    0.069909    0.002058
NJ        291     22.0  0.075601  0.264815    0.075601    0.001820
NC        290     14.0  0.048276  0.214719    0.048276    0.001814
VA        286     17.0  0.059441  0.236862    0.059441    0.001789
MD        250     28.0  0.112000  0.315999    0.112000    0.001564
AZ        245      9.0  0.036735  0.188495    0.036735    0.001532
OK        198     12.0  0.060606  0.239211    0.060606    0.001238
ME        151      8.0  0.052980  0.224739    0.052980    0.000944
TN        138      9.0  0.065217  0.247809    0.065217    0.000863
AL        138      6.0  0.043478  0.204674    0.043478    0.000863
WA        135     11.0  0.081481  0.274592    0.081481    0.000844
IA        116      6.0  0.051724  0.222430    0.051724    0.000726
OR        112      8.0  0.071429  0.258697    0.071429    0.000701
WI        112      8.0  0.071429  0.258697    0.071429    0.000701
KY        111     22.0  0.198198  0.400450    0.198198    0.000694
MA        110      6.0  0.054545  0.228130    0.054545    0.000688
CO         97     16.0  0.164948  0.373062    0.164948    0.000607
MO         96      6.0  0.062500  0.243332    0.062500    0.000600
IN         71      5.0  0.070423  0.257679    0.070423    0.000444
UK         62      3.0  0.048387  0.216335    0.048387    0.000388
AR         56      2.0  0.035714  0.187256    0.035714    0.000350
NB         55     12.0  0.218182  0.416818    0.218182    0.000344
CT         49      3.0  0.061224  0.242226    0.061224    0.000306
LA         47      3.0  0.063830  0.247092    0.063830    0.000294
DC         44      3.0  0.068182  0.254972    0.068182    0.000275
MS         44      2.0  0.045455  0.210707    0.045455    0.000275
ON         43      4.0  0.093023  0.293903    0.093023    0.000269
DE         36      0.0  0.000000  0.000000    0.000000    0.000225
RI         30      8.0  0.266667  0.449776    0.266667    0.000188
KS         26      6.0  0.230769  0.429669    0.230769    0.000163
ID         23      0.0  0.000000  0.000000    0.000000    0.000144
MT         20      0.0  0.000000  0.000000    0.000000    0.000125
NM         18      0.0  0.000000  0.000000    0.000000    0.000113
BC         16      0.0  0.000000  0.000000    0.000000    0.000100
SD         15      2.0  0.133333  0.351866    0.133333    0.000094
WY         12      1.0  0.083333  0.288675    0.083333    0.000075
AK         11      1.0  0.090909  0.301511    0.090909    0.000069
NH          9      2.0  0.222222  0.440959    0.222222    0.000056
VT          6      0.0  0.000000  0.000000    0.000000    0.000038
HI          6      2.0  0.333333  0.516398    0.333333    0.000038
PR          5      0.0  0.000000  0.000000    0.000000    0.000031
WV          5      0.0  0.000000  0.000000    0.000000    0.000031
QC          4      0.0  0.000000  0.000000    0.000000    0.000025
QL          2      2.0  1.000000  0.000000    1.000000    0.000013
ND          1      0.0  0.000000       NaN    0.000000    0.000006
VI          1      0.0  0.000000       NaN    0.000000    0.000006
BL          1      0.0  0.000000       NaN    0.000000    0.000006

In [23]:
df_train.groupby('country').compliance.agg(['count', 'sum', 'mean', 'std']).T

country      Aust  Cana      Egyp  Germ            USA
count    2.000000   6.0  2.000000   1.0  159869.000000
sum      1.000000   0.0  1.000000   0.0   11595.000000
mean     0.500000   0.0  0.500000   0.0       0.072528
std      0.707107   0.0  0.707107   NaN       0.259361

MI satte reaches 89%.  To simplify the calsses, separate these two fields into three categories: `MI`, `out_of_state` and `foreign`

In [24]:
us_states  = ['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL',
             'IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT',
             'NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI',
             'SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']

df_train['is_in_state'] = df_train.state.apply(lambda x: x if x in us_states else 'foreign')
df_train.is_in_state[(df_train.is_in_state != 'foreign') & (df_train.is_in_state != 'MI')] = 'out_of_state'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [25]:
df_train.groupby('is_in_state').compliance.agg(['count', 'sum', 'mean', 'std']).sort_values('count', ascending=False).T

is_in_state             MI  out_of_state     foreign
count        143655.000000  15908.000000  317.000000
sum           10595.000000    970.000000   32.000000
mean              0.073753      0.060976    0.100946
std               0.261370      0.239293    0.301734

__Investigate the relationship of the `discount_amount` & `judgment_amount` fields and `compliance`__

In [26]:
df_train_all[['discount_amount', 'judgment_amount']].describe().T
# uneven distribution w/ discount_amount

,count,mean,std,min,25%,50%,75%,max
discount_amount,250306.0,0.125167,3.430178,0.0,0.0,0.0,0.0,350.0
judgment_amount,250306.0,268.685356,626.915212,0.0,0.0,140.0,305.0,11030.0

In [27]:
df_train.groupby('discount_amount').compliance.agg(['count', 'sum', 'mean', 'std']).sort_values('count', ascending=False).T

discount_amount,0.0,25.0,5.0,10.0,20.0,50.0,3.0,30.0,100.0,350.0,250.0,13.0,40.0
count,158700.000000,605.000000,167.000000,155.000000,135.000000,43.000000,19.0,17.0,16.0,15.0,6.000000,1.0,1.0
sum,10474.000000,587.000000,159.000000,141.000000,122.000000,40.000000,19.0,17.0,16.0,15.0,5.000000,1.0,1.0
mean,0.065999,0.970248,0.952096,0.909677,0.903704,0.930233,1.0,1.0,1.0,1.0,0.833333,1.0,1.0
std,0.248281,0.170043,0.214206,0.287573,0.296096,0.257770,0.0,0.0,0.0,0.0,0.408248,NaN,NaN

This shown as data leakage: whoever gets discount most likely will pay for the fine.

Separate the values into two separated class w/ binary values: True as paid, False as non-paid

In [28]:
df_train['is_discount'] = df_train.discount_amount.apply(lambda x:1 if x > 0 else 0)

In [29]:
# df_train.groupby('judgment_amount').compliance.agg(['count', 'sum', 'mean', 'std']).sort_index(ascending=False)
# the result looks like countinuous values.  

len(df_train.groupby('judgment_amount').groups)

57

In [30]:
# separate the judgement into 3 classes w/ 25%, 50%, 75%
df_train['judgment_level'] = pd.cut(df_train.judgment_amount, bins=[-1, 140, 305, float("inf")])

df_train.groupby('judgment_level').compliance.agg(['count', 'sum', 'mean', 'std']).sort_index(ascending=False).T

judgment_level  (305.0, inf]  (140.0, 305.0]  (-1.0, 140.0]
count           22089.000000   100311.000000   37480.000000
sum               838.000000     6791.000000    3968.000000
mean                0.037937        0.067699       0.105870
std                 0.191049        0.251231       0.307675

In [31]:
len(df_train.groupby('inspector_name').groups)
# too many to be useful

159

__Attribute selection__

In [32]:
selection = ['judgment_level', 'is_discount', 'is_in_state', 'disposition', 'agency_name', 'compliance']
df_selected = df_train[selection]
df_selected.head(3)

,judgment_level,is_discount,is_in_state,disposition,agency_name,compliance
ticket_id,,,,,,
22056,"(140.0, 305.0]",0,out_of_state,By default,"Buildings, Safety Engineering & Env Department",0.0
27586,"(305.0, inf]",0,MI,By determination,"Buildings, Safety Engineering & Env Department",1.0
22046,"(140.0, 305.0]",0,out_of_state,By default,"Buildings, Safety Engineering & Env Department",0.0

In [33]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159880 entries, 22056 to 284333
Data columns (total 6 columns):
judgment_level    159880 non-null category
is_discount       159880 non-null int64
is_in_state       159880 non-null object
disposition       159880 non-null object
agency_name       159880 non-null object
compliance        159880 non-null float64
dtypes: category(1), float64(1), int64(1), object(3)
memory usage: 12.5+ MB

__Convert train dataset with selected attributes and their dummy variable__

In [52]:
X = df_selected.drop('compliance', axis=1)
Y = df_selected.compliance
X.shape, Y.shape
# X.info()
# Y.shape

((159880, 5), (159880,))

In [47]:
# introduce dummy variables for judgment_level, is_in_state, disposition, agency_name
X_encoded = pd.get_dummies(X)
X_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159880 entries, 22056 to 284333
Data columns (total 16 columns):
is_discount                                                   159880 non-null int64
judgment_level_(-1.0, 140.0]                                  159880 non-null uint8
judgment_level_(140.0, 305.0]                                 159880 non-null uint8
judgment_level_(305.0, inf]                                   159880 non-null uint8
is_in_state_MI                                                159880 non-null uint8
is_in_state_foreign                                           159880 non-null uint8
is_in_state_out_of_state                                      159880 non-null uint8
disposition_By admission                                      159880 non-null uint8
disposition_By default                                        159880 non-null uint8
disposition_By determination                                  159880 non-null uint8
disposition_Fine Waived                                       159880 non-null uint8
agency_name_Buildings, Safety Engineering & Env Department    159880 non-null uint8
agency_name_Department of Public Works                        159880 non-null uint8
agency_name_Detroit Police Department                         159880 non-null uint8
agency_name_Health Department                                 159880 non-null uint8
agency_name_Neighborhood City Halls                           159880 non-null uint8
dtypes: int64(1), uint8(15)
memory usage: 9.7 MB

In [41]:
# add dummy variables for dispoistion not appeared in the training dataset 
#    but in original dataset: disposition_Not responsible, disposition_Pending
X_encoded['disposition_Not responsible'] = np.zeros(len(X))
X_encoded['disposition_Pending'] = np.zeros(len(X))
# X_encoded.shape
X_encoded.head(3).T

ticket_id                                           22056  27586  22046
is_discount                                           0.0    0.0    0.0
judgment_level_(-1.0, 140.0]                          0.0    0.0    0.0
judgment_level_(140.0, 305.0]                         1.0    0.0    1.0
judgment_level_(305.0, inf]                           0.0    1.0    0.0
is_in_state_MI                                        0.0    1.0    0.0
is_in_state_foreign                                   0.0    0.0    0.0
is_in_state_out_of_state                              1.0    0.0    1.0
disposition_By admission                              0.0    0.0    0.0
disposition_By default                                1.0    0.0    1.0
disposition_By determination                          0.0    1.0    0.0
disposition_Fine Waived                               0.0    0.0    0.0
agency_name_Buildings, Safety Engineering & Env...    1.0    1.0    1.0
agency_name_Department of Public Works                0.0    0.0    0.0
agency_name_Detroit Police Department                 0.0    0.0    0.0
agency_name_Health Department                         0.0    0.0    0.0
agency_name_Neighborhood City Halls                   0.0    0.0    0.0
disposition_Not responsible                           0.0    0.0    0.0
disposition_Pending                                   0.0    0.0    0.0

__Model Training__